*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the container for inputs */
    .container{
    width: 450px;
    background-color: #fdcb6d;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }


    section{
    padding-bottom: .5rem;
    }

/* Style all input fields */
    input {
    width: 225px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
    }

    /* Style the submit button */
    input[type=password] {
    color: rgb(8, 69, 94);
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    }

    #message{
    padding: .5rem;
    background-color: rgb(64, 195, 247);
    border-radius: 12px;
    }

    #message p {
    padding: 10px 35px;
    font-size: 18px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
    color: green;
    }

    .valid:before {
    position: relative;
    left: -35px;
    content:"f00c";
    }

    /* Add a red text color and an "x" icon when the requirements are wrong */
    .invalid {
    color: rgb(214, 212, 212);
    }

    .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10060;";
    }

    #myProgress {
        width: 100%;
        border-radius: 8px;
        margin-top: .8rem;
        margin-bottom: -.4rem;
        background-color: #f3f3f3;
    }

    #myBar {
        width: 0%;
        height: 30px;
        background-color: #04AA6D;
        text-align: center;
        line-height: 30px;
        /* color: rgb(211, 43, 43); */
    }