*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Syne Mono", monospace;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.syne-mono-regular {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

/* Style the container for inputs */
    .container{
    width: 450px;
    background-color:#8C55E6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    h1{
    font-size: 1.5rem;    
    }

    h3{
    margin-top: .4rem;
    font-size: 1rem;
    padding-left:1.2rem;
    padding-right: 1.2rem;
    }

    p{
        font-size: .8rem;    
    }

    section{
    padding-bottom: .5rem;
    }

/* Style all input fields */
    input {
    width: 225px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
    }

    /* Style the submit button */
    input[type=password] {
    color: rgb(8, 69, 94);
    border: none;
    border-radius: 12px;
    font-size: .9rem;
    }

    #message{
    padding: .5rem;
    background-color: #ff291a81;
    border-radius: 12px;
    }

    #message p {
    padding: 10px 35px;
    font-size: 18px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
    color:#0BF145;
    }

    .valid:before {
    font-family: "Font Awesome 5 Free";
    position: relative;
    left: -18px;
    font-weight: 900;
    content:"\f00c";
    }

    /* Add a red text color and an "x" icon when the requirements are wrong */
    .invalid {
    color:#FFFF1A;
    }

    .invalid:before {
    font-family: "Font Awesome 5 Free";
    position: relative;
    left: -18px;
    font-weight: 900;
    content: "\f00d";
    }

    #myProgress {
        width: 100%;
        border-radius: 8px;
        margin-top: .8rem;
        margin-bottom: -.4rem;
        background-color: #f3f3f3;
    }

    #myBar {
        width: 0%;
        border-radius: 8px;
        height: 30px;
        background-color: #ff0000;
        text-align: center;
        line-height: 30px;
        transition: width 0.5s ease, background-color 0.5s ease;
    }