*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 450px;
    margin: 0 auto;
    margin-top: 2rem;
    align-items: center;
}
/* Style all input fields */
    input {
    width: 50%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
    }

    /* Style the submit button */
    input[type=password] {
    color: rgb(8, 69, 94);
    border: none;
    border-radius: 12px;
    }

    /* Style the container for inputs */
    .container {
    background-color: #f1f1f1;
    padding: 20px;
    }

    #message{
    padding: .5rem;
    background-color: rgb(64, 195, 247);
    border-radius: 12px;
    }

    #message p {
    padding: 10px 35px;
    font-size: 18px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
    color: green;
    }

    .valid:before {
    position: relative;
    left: -35px;
    content:"f00c";
    }

    /* Add a red text color and an "x" icon when the requirements are wrong */
    .invalid {
    color: rgb(214, 212, 212);
    }

    .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10060;";
    }